services:
  - type: web
    name: ceremo-services
    env: docker
    plan: starter
    region: oregon
    branch: main
    healthCheckPath: /health
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ceremo-db
          property: connectionString
      - key: FLASK_ENV
        value: production
      - key: ENVIRONMENT
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: PORT
        value: 5000
      - key: R2_ACCESS_KEY
        sync: false
      - key: R2_SECRET_KEY
        sync: false
      - key: R2_ENDPOINT
        sync: false
      - key: R2_BUCKET
        sync: false

databases:
  - name: ceremo-db
    plan: starter
    region: oregon
    databaseName: ceremo
    user: ceremo
