name: Pull Request Checks

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write
  contents: read

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: deepakputhraya/action-pr-title@master
        with:
          regex: '^IF-[0-9]+| .+'
          allowed_prefixes: 'IF-'
          prefix_case_sensitive: true
          min_length: 10
          max_length: 100
          github_token: ${{ secrets.GH_TOKEN }}

  pre-commit-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root

      - name: Run tests with coverage
        run: |
          poetry run pytest --cov=src --cov-report=xml --cov-report=term --cov-report=html --cov-fail-under=90

      - name: Generate Coverage Report
        id: coverage-report
        run: |
          echo 'COVERAGE_REPORT<<EOF' >> $GITHUB_ENV
          echo '### Test Coverage Report' >> $GITHUB_ENV
          echo '```' >> $GITHUB_ENV
          poetry run coverage report >> $GITHUB_ENV
          echo '```' >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Find Comment
        uses: peter-evans/find-comment@v2
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Test Coverage Report

      - name: Create or Update Coverage Comment
        uses: peter-evans/create-or-update-comment@v3
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ env.COVERAGE_REPORT }}
          edit-mode: replace

      - name: Save Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: |
            htmlcov
            coverage.xml
